@container(max-width:120px){.table-7e7f6f3b-6d68-4265-9e31-0b3eb0895d1e-column-120{display: none;}}
@container(max-width:240px){.table-7e7f6f3b-6d68-4265-9e31-0b3eb0895d1e-column-240{display: none;}}
@container(max-width:360px){.table-7e7f6f3b-6d68-4265-9e31-0b3eb0895d1e-column-360{display: none;}}
@container(max-width:480px){.table-7e7f6f3b-6d68-4265-9e31-0b3eb0895d1e-column-480{display: none;}}
@container(max-width:600px){.table-7e7f6f3b-6d68-4265-9e31-0b3eb0895d1e-column-600{display: none;}}
@container(max-width:720px){.table-7e7f6f3b-6d68-4265-9e31-0b3eb0895d1e-column-720{display: none;}}
@container(max-width:840px){.table-7e7f6f3b-6d68-4265-9e31-0b3eb0895d1e-column-840{display: none;}}
