@container(max-width:120px){.table-5c90b2b8-49f4-478d-b0c6-db831fdf2dce-column-120{display: none;}}
@container(max-width:240px){.table-5c90b2b8-49f4-478d-b0c6-db831fdf2dce-column-240{display: none;}}
@container(max-width:360px){.table-5c90b2b8-49f4-478d-b0c6-db831fdf2dce-column-360{display: none;}}
@container(max-width:480px){.table-5c90b2b8-49f4-478d-b0c6-db831fdf2dce-column-480{display: none;}}
@container(max-width:600px){.table-5c90b2b8-49f4-478d-b0c6-db831fdf2dce-column-600{display: none;}}
